/* src/styles.css */
.form-container {
    background-color: #9BC89E;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  h2 {
    color: #3B553E;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #3B553E;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3B553E;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3B553E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #2E4A34;
  }
  